@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  background-color: #f6faff;
  color: #090721;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
